<center><h1>yfinance API Library</h1>
<h2>Application Programming Interface</h2>
<br>
<h2>--- A Complete Guide ---</h2>

[API Documentation](https://algotrading101.com/learn/yfinance-guide/)</center>

In [3]:
import yfinance as yf

# provide stock ticker symbol
stock= yf.Ticker("^GSPC")

# save stock history (Date, Open, High, LOW, Close, Volume)
stock_history = stock.history(start="1985-01-01", end="2021-10-09", interval="1d")

# save actions (dividends, splits)
stock_actions = stock.actions

# save dividends
stock_dividends = stock.dividends

# save splits
stock_splits = stock.splits

# display columns in stock history as initially created
print('Before Index Reset:',stock_history.columns, '\n')

# change index (Date) into a column
stock_history.reset_index(inplace=True)

# display columns in stock history after changing index(Date) into column
print('After Index Reset:',stock_history.columns, '\n')

# display stock history
print(stock_history)

Before Index Reset: Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

After Index Reset: Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends',
       'Stock Splits'],
      dtype='object')

           Date         Open         High          Low        Close  \
0    1985-01-02   167.199997   167.199997   165.190002   165.369995
1    1985-01-03   165.369995   166.110001   164.380005   164.570007
2    1985-01-04   164.550003   164.550003   163.360001   163.679993
3    1985-01-07   163.679993   164.710007   163.679993   164.240005
4    1985-01-08   164.240005   164.589996   163.910004   163.990005
...         ...          ...          ...          ...          ...
9260 2021-09-28  4419.540039  4419.540039  4346.330078  4352.629883
9261 2021-09-29  4362.410156  4385.569824  4355.080078  4359.459961
9262 2021-09-30  4370.669922  4382.549805  4306.240234  4307.540039
9263 2021-10-01  4317.160156  4375.189941  4288.520020  4357.040039
9264 2021-10-04  4348.839844  4355.509766  4278.939941  4289.839844

          Volume  Dividends  Stock Splits
0       67820000          0             0
1       88880000          0             0
2       77480000          0             0
3       86190000          0             0
4       92110000          0             0
...          ...        ...           ...
9260  3495970000          0             0
9261  2753800000          0             0
9262  3123770000          0             0
9263  3148980000          0             0
9264  1328589000          0             0

[9265 rows x 8 columns]

In [10]:
print(stock_history)

       index       Date        Open        High         Low       Close  \
0          0 1980-12-12    0.100600    0.101037    0.100600    0.100600
1          1 1980-12-15    0.095789    0.095789    0.095352    0.095352
2          2 1980-12-16    0.088790    0.088790    0.088353    0.088353
3          3 1980-12-17    0.090540    0.090977    0.090540    0.090540
4          4 1980-12-18    0.093165    0.093602    0.093165    0.093165
...      ...        ...         ...         ...         ...         ...
10284  10284 2021-09-27  145.470001  145.960007  143.820007  145.369995
10285  10285 2021-09-28  143.250000  144.750000  141.690002  141.910004
10286  10286 2021-09-29  142.470001  144.449997  142.029999  142.830002
10287  10287 2021-09-30  143.660004  144.380005  141.279999  141.500000
10288  10288 2021-10-01  141.899994  142.919998  139.119995  142.649994

          Volume  Dividends  Stock Splits
0      469033600        0.0           0.0
1      175884800        0.0           0.0
2      105728000        0.0           0.0
3       86441600        0.0           0.0
4       73449600        0.0           0.0
...          ...        ...           ...
10284   74150700        0.0           0.0
10285  108972300        0.0           0.0
10286   74602000        0.0           0.0
10287   88934200        0.0           0.0
10288   89362470        0.0           0.0

[10289 rows x 9 columns]

In [7]:
stocks = "AMZN GOOG"
data = yf.download(stocks, start="2017-01-01",
                    end="2017-04-30", group_by='tickers')
data

[*********************100%***********************]  2 of 2 completed

                  AMZN                                                  \
                  Open        High         Low       Close   Adj Close
Date
2017-01-03  757.919983  758.760010  747.700012  753.669983  753.669983
2017-01-04  758.390015  759.679993  754.200012  757.179993  757.179993
2017-01-05  761.549988  782.400024  760.260010  780.450012  780.450012
2017-01-06  782.359985  799.440002  778.479980  795.989990  795.989990
2017-01-09  798.000000  801.770020  791.770020  796.919983  796.919983
...                ...         ...         ...         ...         ...
2017-04-24  908.679993  909.989990  903.820007  907.409973  907.409973
2017-04-25  907.039978  909.479980  903.000000  907.619995  907.619995
2017-04-26  910.299988  915.750000  907.559998  909.289978  909.289978
2017-04-27  914.390015  921.859985  912.109985  918.380005  918.380005
2017-04-28  948.830017  949.590027  924.330017  924.989990  924.989990

                           GOOG                                      \
             Volume        Open        High         Low       Close
Date
2017-01-03  3521100  778.809998  789.630005  775.799988  786.140015
2017-01-04  2510500  788.359985  791.340027  783.159973  786.900024
2017-01-05  5830100  786.080017  794.479980  785.020020  794.020020
2017-01-06  5986200  795.260010  807.900024  792.203979  806.150024
2017-01-09  3446100  806.400024  809.966003  802.830017  806.650024
...             ...         ...         ...         ...         ...
2017-04-24  3122900  851.200012  863.450012  849.859985  862.760010
2017-04-25  3380600  865.000000  875.000000  862.809998  872.299988
2017-04-26  2608900  874.229980  876.049988  867.747986  871.729980
2017-04-27  5305500  873.599976  875.400024  870.380005  874.250000
2017-04-28  7364700  910.659973  916.849976  905.770020  905.960022


             Adj Close   Volume
Date
2017-01-03  786.140015  1657300
2017-01-04  786.900024  1073000
2017-01-05  794.020020  1335200
2017-01-06  806.150024  1640200
2017-01-09  806.650024  1274600
...                ...      ...
2017-04-24  862.760010  1372500
2017-04-25  872.299988  1672000
2017-04-26  871.729980  1237200
2017-04-27  874.250000  2026800
2017-04-28  905.960022  3276300

[81 rows x 12 columns]